<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

  </head>

<body>
    <div class="container">
        <div class="container-wrapper">

            <h3 class="login-text"><i class="bi bi-person-circle ac-logo loginLogo"></i> Login</h3>
        <!-- Login form  -->
            <form action="/login" method="post" >
                <div class="item"></i><input class="input" type="text" name="email" placeholder="email"></div> 
                <div class="item"><input class="input" type="password" name="password" placeholder="Password"> </div>
                <span class="remember"> <a href="#">Forgot Password?</a> </span>

                <div class="item submit"><button type="submit">Submit</button></div>
            </form>
            <span class="ac">Don't have an Account? <a href="/register">Sign Up</a></span>

            </div>
        </div>

    </div>
</body>

</html>