<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Sign-up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
<body>
    <div class="container">
        <div class="container-wrapper">

            <h3 class="login-text"><i class="bi bi-person-plus-fill loginLogo"></i> Sign Up</h3>
        
            <form  action="/register" method="post">
                <div class="item"></i><input class="input" type="text" name="name" placeholder="Name"></div> 
                <div class="item"></i><input class="input" type="text" name="username" placeholder="e-mail"></div> 
                <div class="item"><input class="input" minlength="6" type="password" name="password" placeholder="Password"> </div>

                <div class="item submit"><button type="submit">Register</button></div>
            </form>

            <span class="ac">Have an Account? <a href="/login">Sign in</a></span>
        </div>

    </div>
</body>

</html>